*.bz2
*.gz
*.la
*.lo
*.log
*.o
*.trs
.deps
.libs
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
pugilist
test-driver
